
#services{
    display: flex;
    justify-content: center;
}

.service-box{
    width: 112rem;
    /* height: 60rem; */
    /* border: 1px solid black; */
    background-color: #F4F6FF;
    margin-bottom: 1rem;
}

.service-box-col-one{
    font-size: 4rem;
    font-family: "Jura";
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.service-box-col-two{
    /* width: 100%; */
    /* height: 20rem; */
    /* border: 1px solid red; */
    /* margin-top: 2rem; */
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.service-box-card{
    /*width: 23rem;
    */height: 15rem;
    border-radius: 1rem;
    border: 2px solid #EB8317;
    display: flex;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #F3C623;
}

.service-card-text{
    margin-top: 1rem;
}

.service-card-title{
    font-size: 3rem;
    font-family: "Jura";
    text-transform: capitalize;
    padding-left: 1rem;
}

.service-card-para{
    font-family: "Jura";
    font-size: 1.8rem;
    padding-left: 1rem;
}

/* .service-container{
    border: 1px solid blue;
   
} */

.service-card-icon{
    display: flex;
    align-items: flex-end;
    /* border: 1px solid goldenrod; */
}
.service-card-icon i{
    font-size: 6rem;
    color: #10375C;
}

@media (min-width:1025px) and (max-width:1200px) {
    .service-card-title{
        font-size: 2.2rem;
    }
    .service-card-para{
        font-size: 1.4rem;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    .service-box-card{
        width: 24rem;
        height: 18rem;
    }
}